<div class="container mt-5">
  <form action="/" method="POST">
    <div class="row">
      <div class="col-4 px-3">
        <div class="card">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5668/angry-developer.jpg"
            class="card-img-top" style="height: 280px">
          <div class="card-body text-center" style="font-size: 20px;">
            <input type="radio" name='career' id="engineer" value="engineer" {{#eq options.career 'engineer'
              }}checked{{/eq}}>
            <label for="engineer">工程師</label>
          </div>
        </div>
      </div>

      <div class="col-4 px-3">
        <div class="card">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5667/angry-designer.jpg"
            class="card-img-top" style="height: 280px">
          <div class="card-body text-center" style="font-size: 20px;">
            <input type="radio" name='career' id="designer" value="designer" {{#eq options.career 'designer'
              }}checked{{/eq}}>
            <label for="designer">設計師</label>
          </div>
        </div>
      </div>

      <div class="col-4 px-3">
        <div class="card">
          <img src="https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5669/angry-founder.jpg"
            class="card-img-top" style="height: 280px">
          <div class="card-body text-center" style="font-size: 20px;">
            <input type="radio" name='career' id="entrepreneur" value="entrepreneur" {{#eq options.career 'entrepreneur'
              }}checked{{/eq}}>
            <label for="entrepreneur">創業家</label>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-5 input-group input-group-lg">
      <button class="btn btn-secondary btn-lg" type="submit">產生幹話</button>
      <input type="text" class="ml-4 form-control" value='{{ trashTalk }}' placeholder="Shut Up!">
    </div>

  </form>
</div>